<div class="sidenav">
    <div class="sidenav__header">
        <h1 class="flex flex--a-center">
            <span class="sidenav__header__icon">
                <svg class="image--icon pos--abs pos--center">
                    <use href="#user"></use>
                </svg>
            </span>
            <span>
                <h4 class="sidenav__header__title">Data entry operator</h4>
                <span class="sidenav__header__sub-title">Students' grades manager</span>
            </span>
        </h1>
    </div>
    <nav class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <li class="sidenav__nav__ul__item <% if (page.title == 'Secretary - Tests') { %> sidenav__nav__ul__item--active <% } %>">
                <a href="/d/tests" class="flex flex--a-center">
                    <svg class="image--icon">
                        <use href="#file"></use>
                    </svg>
                    <span>Tests</span>
                </a>
            </li>
            <li class="sidenav__nav__ul__item <% if (page.title == 'Secretary - Grades') { %> sidenav__nav__ul__item--active <% } %>">
                <a href="/d/grades" class="flex flex--a-center">
                    <svg class="image--icon">
                        <use href="#file"></use>
                    </svg>
                    <span>Grades</span>
                </a>
            </li>
            <li class="sidenav__nav__ul__item">
                <a href="/d/logout" class="flex flex--a-center">
                    <svg class="image--icon">
                        <use href="#sign-out"></use>
                    </svg>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>