<div class="page-container">
    <%- include('../partials/sidenav/lecturer') %>

    <div class="page-container__main page-container__main--nav-closed">
        <%- include('../partials/header/lecturer') %>

        <div class="page-container__main__padded">
            <div class="page-container__main__padded__page-title">
                <h1>Modules</h1>
            </div>
            <div class="card table">
                <div class="table__header">
                    <ul class="table__header__row">
                        <li class="table__header__row__item short">#</li>
                        <li class="table__header__row__item">Name</li>
                        <li class="table__header__row__item">Code</li>
                        <li class="table__header__row__item last-cell">Register date</li>
                    </ul>
                </div>
                <div class="table__body" id="assigned-modules"></div>
                <a id="report-link" hidden download></a>
            </div>
        </div>
    </div>
</div>

<script>
    const targetPage = 'lecturer-modules';
</script>

<script src="/assets/js/dist/lib/jquery/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>