<header class="home-header flex flex--a-center flex--j-space-between">
    <h4>Academic Goal Monitoring.</h4>
    <nav class="flex flex--a-center">
        <a href="/sign-in"><button class="btn btn--primary">Sign in</button></a>
    </nav>
</header>
<div class="showcase">
    <div class="background image--back" style="background-image: url('/assets/backgrounds/background-1.jpg');"></div>
    <h1 class="flex">
        <span>Goal tracking.</span>
        <span>Grade management.</span>
        <span>Tutorial links.</span>
        <span>All in one</span>
    </h1>
    <!-- <img src="/assets/illustrations/undraw_creative_thinking_re_9k71.svg" alt=""> -->
</div>
<div class="users">
    <span class="title">
        <h1>Who can use our system.</h1>
        <span class="hr"></span>
    </span>
    <div class="users__list flex">
        <div class="users__list__item">
            <p>Students</p>
        </div>
        <div class="users__list__item">
            <p>Lecturers</p>
        </div>
        <div class="users__list__item">
            <p>Admins</p>
        </div>
    </div>
    <a href="/sign-in"><button class="btn btn--primary">Sign in</button></a>
</div>