<div class="admin-logger image--back" style="background-image: url('/assets/backgrounds/background-1.jpg'); height: 100vh;">
    <div class="admin-logger__main pos--abs pos--horizontal" style="color: #fff;">
        <div class="admin-logger__title">
            <h1>Welcome.</h1>
            <p>Choose your account type</p>
        </div>
        <div class="flex flex--j-space-around" style="margin-top: 2rem;">
            <p><a href="/l/sign-up">Lecturer sign up</a></p>
            <p><a href="/s/sign-up">Student sign up</a></p>
        </div>
    </div>
</div>