<div class="page-container">
    <%- include('../partials/sidenav/secretary') %>

    <div class="page-container__main page-container__main--nav-closed">
        <%- include('../partials/header/secretary') %>

        <div class="page-container__main__padded">
            <div class="page-container__main__padded__page-title">
                <h1>Student grades</h1>
            </div>
            <div class="card table">
                <div class="card__header card__header--no-border card__header--search">
                    <input type="text" placeholder="Search...">
                </div>
                <div class="table__header">
                    <ul class="table__header__row">
                        <li class="table__header__row__item short">#</li>
                        <li class="table__header__row__item">Student number</li>
                        <li class="table__header__row__item">Last name</li>
                        <li class="table__header__row__item">Test</li>
                        <li class="table__header__row__item">Grade</li>
                        <li class="table__header__row__item last-cell">Action</li>
                    </ul>
                </div>
                <div class="table__body" id="grades"></div>
                <div class="card__body" id="no-student-grades" style="display: none;">
                    <div class="empty">
                        <h4>No student grades</h4>
                        <p>No action required on any grades now :)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const targetPage = 'secretary-grades';
</script>

<script src="/assets/js/dist/lib/jquery/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>