<div class="page-container">
    <%- include('../partials/sidenav/admin') %>

    <div class="page-container__main page-container__main--nav-closed">
        <%- include('../partials/header/admin') %>

        <div class="page-container__main__padded">
            <div class="page-container__main__padded__page-title">
                <h1>Secretaries</h1>
            </div>
            <div class="card table">
                <div class="card__header card__header--no-border card__header--search">
                    <input type="text" id="secretaries-search-box" placeholder="Search secretaries by first name, last name, or email">
                </div>
                <div class="table__header">
                    <ul class="table__header__row">
                        <li class="table__header__row__item short">#</li>
                        <li class="table__header__row__item">First name</li>
                        <li class="table__header__row__item">Last name</li>
                        <li class="table__header__row__item">Email address</li>
                        <li class="table__header__row__item last-cell">Register date</li>
                    </ul>
                </div>
                <div class="table__body" id="registered-secretaries"></div>
                <div class="card__body" id="no-registered-secretaries" style="display: none;">
                    <div class="empty">
                        <h4>No registered secretaries</h4>
                        <p>You have not added any secretaries yet :)</p>
                    </div>
                </div>
            </div>
            <button class="btn btn--primary open-modal" style="margin-top: 2rem;" data-modal="new-secretary" id="new-secretary-btn">New secretary</button>
        </div>
    </div>
</div>

<div class="modal modal--closed flex--a-start flex--j-center" id="new-secretary-modal">
    <form class="modal__main" id="new-secretary-form">
        <div class="modal__main__header flex flex--a-center flex--j-space-between">
            <div>
                <h1>New secretary.</h1>
            </div>
            <svg class="icon svg close-modal" data-modal="new-secretary">
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="error-container error-container--pad" id="new-secretary-error">
            <p class="error-container__p">
                <span class="error-container__p__exclamation">Oops.</span>
                <span class="error-container__p__text"></span>
            </p>
        </div>
        <div class="modal__main__body modal__main__body--short" style="padding: 1.4rem 2rem;">
            <div class="twin-inputs flex flex--j-space-between">
                <div class="input-wrapper">
                    <label for="secretary-first-name">First name</label>
                    <input type="text" id="secretary-first-name" class="input-wrapper__input" placeholder="e.g. John">
                </div>
                <div class="input-wrapper">
                    <label for="secretary-last-name">Last name</label>
                    <input type="text" id="secretary-last-name" class="input-wrapper__input" placeholder="e.g. Doe">
                </div>
            </div>
            <div class="input-wrapper">
                <label for="secretary-email">Email address</label>
                <input type="text" id="secretary-email" class="input-wrapper__input" placeholder="e.g. john@doe.com">
            </div>
        </div>
        <div class="modal__main__footer flex">
            <button class="btn btn--primary">Add secretary</button>
        </div>
    </form>
</div>

<script>
    const targetPage = 'admin-secretaries';
</script>

<script src="/assets/js/dist/lib/jquery/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>