<header class="main-header main-header--nav-closed flex flex--a-center flex--j-space-between">
    <div class="main-header__left">
        <div class="main-header__left__bread-crumbs">
            <h3 class="flex flex--a-center">
                <span class="main-header__left__bread-crumbs__main-header">Goal Monitoring Academy.</span>
            </h3>
        </div>
    </div>
    <div class="main-header__right">

    </div>
</header>